# Data files
data/raw/
*.csv

# Python cache files
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*


# VS Code settings
.vscode/
*.code-workspace

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Power BI temp files
*.pbix.bak